## Supervised Learning: Linear Regression

#### Importing necessary Libraries

In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import pandas as pd

#### Loading Dataset

In [2]:
df = pd.read_csv("Datasets/ford.csv")

display(df.head(10))
print(df.shape)

     model  year  price transmission  mileage fuelType   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  48.7         1.0
5   Fiesta  2015  10500       Manual    35432   Petrol  47.9         1.6
6     Puma  2019  22500       Manual     2029   Petrol  50.4         1.0
7   Fiesta  2017   9000       Manual    13054   Petrol  54.3         1.2
8     Kuga  2019  25500    Automatic     6894   Diesel  42.2         2.0
9    Focus  2018  10000       Manual    48141   Petrol  61.4         1.0

(17964, 8)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17964 entries, 0 to 17963
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         17964 non-null  object
 1   year          17964 non-null  int64
 2   price         17964 non-null  int64
 3   transmission  17964 non-null  object
 4   mileage       17964 non-null  int64
 5   fuelType      17964 non-null  object
 6   mpg           17964 non-null  float64
 7   engineSize    17964 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 1.1+ MB

In [4]:
print(df.columns)

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'mpg',
       'engineSize'],
      dtype='object')

#### Separating Numeric features and target variable

In [9]:
features = ['mileage','year','mpg', 'engineSize']
target = ['price']

X = df[features]
y = df[target]

print(X.shape, y.shape)

(17964, 4) (17964, 1)

#### Splitting training and test set

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(14371, 4) (3593, 4) (14371, 1) (3593, 1)

#### Applying Linear Regression

In [11]:
model = LinearRegression()
model = model.fit(X_train, y_train)

#### Predicting the model

In [13]:
y_pred = model.predict(X_test)

In [14]:
print(y_pred)

[[12511.62021941]
 [11728.1369248 ]
 [12146.83147139]
 ...
 [ 7682.61502627]
 [ 5954.1544702 ]
 [16941.0886637 ]]

In [15]:
print(y_test)

       price
1087   16700
9367    9690
4705   10999
10336  29350
8509   11250
...      ...
14866  13487
11183  15299
13788   5495
17265   5685
16043  16495

[3593 rows x 1 columns]

#### Prediction Error

In [16]:
RMSE = mean_squared_error(y_test, y_pred, squared=False)
print(RMSE)

2471.564744716079